<div class="small reveal cover-wrapper" id="articleContent" data-reveal>
  <div class="cover-content" style="background-image:url({{root}}/assets/img/photos/car.jpg)">
    <div class="cover-inner">
      <h1>Article Title.</h1>
      <p class="lead">By Mohamed Azazy - Category - 28/7/2017</p>
    </div>
  </div>

  <article class="article-content">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec purus eget est posuere viverra ultricies in erat. Aenean mollis, urna et mattis tempor, eros enim elementum elit, vel imperdiet magna felis vel urna. Proin ut tortor a odio dignissim consectetur. Quisque pretium tellus id orci maximus rhoncus. Sed ullamcorper lacus eget neque pretium, a maximus velit finibus. Mauris vel diam lacinia, consectetur nisl et, volutpat metus. Sed imperdiet augue ac accumsan rhoncus. Nullam ut leo vel dolor hendrerit finibus in vel neque. Duis hendrerit pulvinar orci a laoreet. Aliquam bibendum quam risus, ullamcorper dictum sem sagittis vestibulum. Proin egestas venenatis mattis. Morbi in bibendum est. Aenean vulputate mauris ut risus consectetur, sit amet maximus metus elementum. Aenean erat quam, varius sit amet elit eget, scelerisque lobortis nisi. Maecenas sed eros erat.</p>
    <img src="{{root}}/assets/img/photos/ninja.jpg">
  </article>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>